/* CSS reset: */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* set box-sizing for whole page:  */

html {
    box-sizing: border-box;
}

/* NAVIGATION STYLING -------------------------------------------------------------------------------------------------------------- */

body, html {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #35373B;
    color: white;
    position: sticky;
    top: 0;
    padding: 0.25em 1em 0.25em 1em;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 70%;
    height: 70%;
}

.nav-title {
    padding-left: 1em;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-link {
    padding-left: 1em;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: #ff5b7b;
}

/* LANDING PAGE STYLING --------------------------------------------------------------------------------------------------------- */

.bg {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('Assets/background-1.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading-container {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 40%;
    margin-bottom: 3em;
}

.main-heading-container h1 {
    font-size: 3em;
    padding-bottom: 0.5em;
}

.main-heading-container h3 {
    font-size: 2em;
    padding-bottom: 1em;
}


.btn-top {
    padding: 1em 4em 1em 4em;
    width: 100%;
    background: #ff5b7b;
    border: none;
    border-radius: 0.5em;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

/* top page media queries  ------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 500px) {
    .bg {
        height: 100vh;
    }

    .main-heading-container {
        width: 80%;
    }
    
    .main-heading-container h1 {
        font-size: 3.5rem;
    }

    .main-heading-container h3 {
        font-size: 2em;
    }
}


/* MOBILE APP SECTION STYLING ----------------------------------------------------------------------------------------------------*/


.mobile-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-top {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.mobile-bottom {
    height: 70%;
    display: flex;
    align-items: center;
}



.mb-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.mb-right {
    height: 100%;
    width: 40%;
    color: black;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.btn-middle {
    padding: 1em 5em 1em 5em;
    width: 100%;
    background: #ff5b7b;
    border: none;
    border-radius: 0.5em;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.mb-right * {
    text-decoration: none;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background: #F3BE70 ;
    color: #333333;
    cursor: pointer;
}

.mb-right h4 {
    font-size: 2em;
}

.mb-right p {
    font-size: 1.1rem;
}

.mb-right a {
    display: flex;
}

.mobile-top h1 {
    font-size: 2.5em;
}

.phone-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-img {
    height: 100%;
}

.ex {
    display: none;
    height: 1em;
    width: 1em;
    border: 2px solid gray;
    border-radius: 50%;
}

.ex:hover {
    background: #35373B;
    border-color: #35373B;
}

/* mobile section media queries ------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 500px) {

    .mobile-content {
        height: 100%;
        padding-top: 2em;
    }

    .mobile-top {
        height: 100%;

    }

    .mobile-top h1{
        font-size: 1.5em;
    }

    .mobile-bottom {
        flex-direction: column;
        padding: 1em;
    }

    .mobile-bottom h4 {
        padding-top: 0.5em;
        padding-bottom: 0.75em;
    }

    .mobile-bottom p {
        padding-bottom: 1em;
    }


    .mb-right {
        width: 100%;
    }

}

/* FEATURES SECTION -------------------------------------------------------------------------------------------------------------------*/

.features-container {
    height: 100vh;
    width: 100%;
}

.features-bg-container {
    background: #35373B;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
}

.features-info-box {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em; 
    font-size: 1.5em;
}

.features-info-box h4 {
    text-align: center;
    padding-bottom: 1em;
}

.features-info-box i {
    padding-bottom: 0.2em;
}

.features-info-box p {
    text-align: center;
} 

/* features media queries ------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 500px) {

    .features-container {
        height: 100%;
    }

    .features-bg-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features-info-box {
        width: 100%;
    }

    .features-info-box p {
        width: 100%;
    }

    .features-info-box i {
        padding: 1em;
    }

    .features-info-box h4 {
        padding-bottom: 0.5em;
        font-weight: bold;
    }
}

@media only screen and (max-width: 750px) {

    .features-container {
        height: 100%;
    }

    .features-bg-container {
        padding: 1em;
    }

    .features-info-box {
        width: 70%;
    }
    
}

/* QUOTE SECTION ---------------------------------------------------------------------------------------------------------------------*/

.quote-container {  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #35373B;
    padding: 1em;
}

.quote-container h4 {
    padding-bottom: 0.5em;
}


@media only screen and (max-width: 500px) {
    .quote-container h4 {
        font-size: 0.75em;
    }
}

.btn-bottom {
    background: #ff5b7b;
    border: none;
    border-radius: 0.5em;
    color: white;
    font-size: 1rem;  
    padding: 1em 4em 1em 4em;
    font-weight: bold;
}

.btn-bottom:focus {
    outline: none;
}


.btn-bottom:hover {
    background: #F3BE70;
    color: #333333;
    cursor: pointer;
}

/* FOOTER -------------------------------------------------------------------------------------------------------------------------*/


footer {
    background: #35373B;
    display: flex;
    justify-content: space-between;
}

.copyright-container {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 0.5em;
}

.socials-container {
    display: flex;
    align-items: center;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
}

.socials-container i:hover {
    color: #ff5b7b
}