/* CSS reset: */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* set box-sizing for whole page:  */

html {
    box-sizing: border-box;
}

/* navigation styling */

body, html {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #35373B;
    color: white;
    position: sticky;
    top: 0;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: bold;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
    height: 100%;
}

.nav-title {
    padding-left: 1em;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-link {
    padding-left: 1em;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: #ff5b7b;
}

/* landing page styling */

.bg {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('background-1.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-main {
    display: flex;
    justify-content: center;
}

.main-heading-container {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}

.main-heading-container h1 {
    font-size: 4em;
    padding-bottom: 1em;
}

.main-heading-container h3 {
    font-size: 2em;
    padding-bottom: 1em;
}

.btn {
    padding: 1em;
    width: 40%;
    background: #ff5b7b;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.btn:hover {
    background: #F3BE70;
    color: #333333;
}

.mobile-content {
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mobile-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-top h1 {
    font-size: 2.5em;
}

.mobile-left {
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    display: none !important;
}

.features-container {
    height: 100vh;
    width: 100%;
}

.features-bg-container {
    background: #35373B;
    height: 75%;
    display: flex;
    justify-content: center;
}

.features-info-box {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 1em 0 1em;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.features-info-box h4 {
    padding: 2em 0 2em 0;
    text-align: center;
}

.features-info-box p {
    text-align: center;
} 

.quote-container {  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #35373B;
    height: 25%;
}



footer {
    background: #35373B;
    display: flex;
    justify-content: space-between;
}

.copyright-container {
    display: flex;
    align-items: center;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
}

.socials-container {
    display: flex;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
}

.socials-container i {
    padding: 0 0.25em 0 0.25em;
}

.socials-container i:hover {
    color: #ff5b7b
}